<br><br>
<div class="login-form">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="handleLogin()">
        <h2 class="text-center">Log in</h2>       
        <div formGroupName="user">
        <div class="form-group">
            <input formControlName="username" type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input formControlName="password1" type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </div>
    </form>
    <p class="text-center"><a routerLink="/register">Create an Account</a></p>

     
</div>